<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Suite" verbose="2" parallel="classes" thread-count="6">
    <test name="Sberbank Quotes Currencies Test">
        <classes>
            <class name="SberbankQuotesCurrenciesTest"></class>
        </classes>
    </test>
</suite>